body {
  font-family: roboto slab, serif;
  background-color: rgb(40, 12, 105);
  padding: 25px 0;
}

.card {
  background-image: linear gradient (to top, #eef1f5 100%);
  margin: 20px auto;
  max-width: 700px;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 14px;
}
li {
  list-style: none;
}

button {
  position: absolute;
  border: 1px solid;
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
}
button:hover {
  border: 4px;
}

.icon-temp {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  font-size: 60px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.forecast {
  font-size: bold;
}
.footer {
  text-align: center;
  padding: 2px;
  font-size: small;
  color: #eef1f5;
}
